* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Rye', serif;
}

.progress-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.progress-container.active {
    display: flex;
    animation: fadeIn 0.3s forwards;
}

.progress-container.fadeOut {
    animation: fadeOut 0.3s forwards;
}

.progress-text {
    font-size: 16px;
    color: var(--text-color); 
    text-align: center;
    margin-bottom: 10px; 
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    letter-spacing: 0px;
    font-weight: 400;

    position: relative; 
    z-index: 2; 
    padding: 5px 15px; 
    white-space: nowrap;
}

.progress-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-image: url('brush4.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0); 
}


.progress-bar-wrapper {
    position: relative;
    width: 100%;
    height: 80px; 
}
.progress-bar-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('brush.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: var(--bg-filter);
}

/* Fill (Beyaz) */
.progress-bar-fill {
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: width 0.1s linear;
}

.progress-bar-fill::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 480px; 
    height: 100%;
    background-image: url('brush.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: var(--fill-filter); 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    to {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
}

:root {
    --progress-width: 480px;
    --progress-height: 50px;
    --progress-bottom: 75px;
    
    --text-color: #FFFFFF; 
    --bg-filter: brightness(0) saturate(100%);
    --fill-filter: brightness(100%); 
}


.progress-container {
    width: var(--progress-width);
    height: var(--progress-height);
    bottom: var(--progress-bottom);
}

.progress-text {
    color: var(--text-color);
}

.progress-bar-bg {
    filter: var(--bg-filter);
}

.progress-bar-fill::before {
    width: var(--progress-width);
    filter: var(--fill-filter);
}

